nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #500050, #8a2be2);
    padding: 10px 20px;
    color: white;
}

nav img {
    height: 50px;
}

nav>article>a:last-child{
    background-color: #a95bf1;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #8a2be2;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 15px;
}

nav a:hover {
    background-color: #5a1b8a;
}

nav a:last-child:hover{
    background-color: #c8a9e6;
}